Repository CS3219-AY2324S1/ay2324s1-course-assessment-g24, pull requests merged in 2023-09, with the labels that each got.

#4 Setup Chakra UI
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/main.tsx
Labels: enhancement, setup

#5 setup directories for other microservices
  backend/collaboration-service/.gitkeep
  backend/matching-service/.gitkeep
  backend/question-service/.gitkeep
Labels: enhancement, setup

#7 add basic routing setup and complete homepage for the application
  frontend/.eslintrc.cjs
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/hero.svg
  frontend/src/components/PeerPrepLogo.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/vite.config.ts
Labels: enhancement, frontend

#8 add comprehensive instructions for local development and conventions …
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation, enhancement, frontend, backend

#10 Added Token Authentication
  backend/user-service/main.py
Labels: backend

#11 User auth pages
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HeadingWithGradient.tsx
  frontend/src/components/LinkButton.tsx
  frontend/src/components/PeerPrepLogo.tsx
  frontend/src/index.css
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignUpPage.tsx
Labels: enhancement, frontend

#12 Add env prod and dev
  .gitignore
  frontend/README.md
Labels: documentation, frontend
