Repository CS3219-AY2324S1/ay2324s1-course-assessment-g24, pull requests merged in 2023-11, with the labels that each got.

#24 Monaco editor
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CodeEditor.tsx
  frontend/src/components/HeroWrapper.tsx
  frontend/src/components/LoadingWrapper.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/ChangePassword.tsx
  frontend/src/pages/EditProfile.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/Matchmaker.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/pages/VerificationEmail.tsx
  frontend/src/pages/WorkspacePage.tsx
  frontend/src/util/enums.ts
Labels: frontend

#29 Question panel
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HeroWrapper.tsx
  frontend/src/components/LinkButton.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LoadingWrapper.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/PeerPrepLogo.tsx
  frontend/src/components/Question.tsx
  frontend/src/components/QuestionPanel.tsx
  frontend/src/pages/ChangePassword.tsx
  frontend/src/pages/EditProfile.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/pages/WorkspacePage.tsx
Labels: frontend, M5: Frontend

#30 Complete user service
  backend/user-service/api/auth/jwt.py
  backend/user-service/api/handlers/user.py
  backend/user-service/api/router.py
  backend/user-service/controllers/user_controller.py
  backend/user-service/core/config.py
  backend/user-service/main.py
  backend/user-service/models/user_model.py
  backend/user-service/schemas/user_schema.py
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Authenticated.tsx
  frontend/src/components/LinkButton.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/PeerPrepLogo.tsx
  frontend/src/components/Question.tsx
  frontend/src/components/QuestionPanel.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/EditProfile.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/UserProfile.tsx
  frontend/src/pages/WorkspacePage.tsx
  frontend/src/services/userService.ts
  frontend/src/utils/enums.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/session.ts
  frontend/util/enums.ts
Labels: frontend, backend

#35 update the requirements for all microservices
  backend/matching-service/requirements.txt
  frontend/src/components/NavBar.tsx
Labels: backend

#37 Chat frontend
  frontend/src/App.tsx
  frontend/src/components/Divider.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Messages.tsx
  frontend/src/pages/Chat.tsx
Labels: frontend, M5: Frontend

#39 Question service enhanced
  backend/matching-service/socketapp.py
  backend/question-service/api/question_handler.py
  backend/question-service/main.py
  backend/question-service/models/question_model.py
Labels: backend, M3: Question Service, N4: Enhanced Question Service

#41 Test backend user service
  backend/user-service/api/auth/jwt.py
  backend/user-service/api/deps/user_deps.py
  backend/user-service/api/handlers/user.py
  backend/user-service/controllers/user_controller.py
  backend/user-service/core/config.py
  backend/user-service/core/security.py
  backend/user-service/main.py
  backend/user-service/models/user_model.py
  backend/user-service/pytest.ini
  backend/user-service/schemas/auth_schema.py
  backend/user-service/schemas/user_schema.py
  backend/user-service/tests/__init__.py
  backend/user-service/tests/conftest.py
  backend/user-service/tests/routes/__init__.py
  backend/user-service/tests/routes/test_auth.py
  backend/user-service/tests/routes/test_user.py
  backend/user-service/tests/util.py
Labels: backend, testing, N8: Testing

#42 Test backend history service
  backend/history-service/Makefile
  backend/history-service/api/history_handler.py
  backend/history-service/core/config.py
  backend/history-service/main.py
  backend/history-service/models/history_model.py
  backend/history-service/pytest.ini
  backend/history-service/requirements.txt
  backend/history-service/schemas/history_schema.py
  backend/history-service/tests/__init__.py
  backend/history-service/tests/conftest.py
  backend/history-service/tests/routes/__init__.py
  backend/history-service/tests/routes/test_history.py
Labels: backend, testing, N8: Testing

#51 Add basic tests for question service
  backend/question-service/main.py
  backend/question-service/pytest.ini
  backend/question-service/tests/__init__.py
  backend/question-service/tests/conftest.py
  backend/question-service/tests/routes/__init__.py
  backend/question-service/tests/routes/test_vanilla.py
Labels: backend, testing, N8: Testing

#61 Add user roles
  backend/user-service/models/user_model.py
  backend/user-service/requirements.txt
  backend/user-service/schemas/user_schema.py
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/pages/ChangePassword/ChangePassword.tsx
  frontend/src/pages/EditProfile/EditProfile.tsx
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/StandaloneQuestions.tsx
  frontend/src/pages/UserProfile.tsx
Labels: frontend, backend
